<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <link rel="stylesheet" href="css/about.css">
    <title>About Us</title>
</head>

<body>
    {{>navbar}}
    <div class="contianer-fluid main-header">
        <div class="row">
            <div class="col-md-3 col-12 main-header-right">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="w-100" src="img/developer.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 main-header-left">
                <p>Hai</p>
                <h1>My name is <span class="text-clr">Faiza Fiaz</span></h1>
                <h3>I am 13<sup>th</sup> year old Pakistani Developer</h3>
                <button class="btn btn-outline-primary"><a href="/">Go Back</a></button>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>