<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <link rel="stylesheet" href="css/err.css">
    <title>Weather</title>
</head>

<body style="background-color: #afe1ec;">
    <div id="err" >
        <img src="img/error.png">
        <a href="/"><button class="btn btn-outline-primary">Go Back</button></a>
    </div>
</body>

</html>