<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <link rel="stylesheet" href="css/weather.css">
    <title>Check Weather</title>
</head>

<body id={{apiId}}>
    {{>navbar}}
    <div class="contianer-fluid main-header">
        <div class="row">
            <div class="main-content">
                <form class="temp-form">
                    <input type="text" id="weather-city" placeholder="Enter your city name" autocomplete="off">
                    <button type="submit" id="submit-button">Search</button>
                </form>
            </div>
            <div class="temp-information">
                <div class="top-layer">
                    <p id="day"></p>
                    <p id="date">4th Jan</p>
                </div>
                <div class="main-layer">
                    <p id="city-name">Get Result Here</p>
                    <div class="middle-layer data-hide">
                        <p id="temp"></p>
                        <p id="temp-status"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script type="text/javascript" src="js/script.js">    </script>
</body>

</html>