<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <title>Weather</title>
</head>

<body style="background-color: #69b3ee;">
    {{>navbar}}
    {{!-- <img src="img/err.png">  --}}
    {{!-- <button class="btn btn-outline-primary"><a href="/">Go Back</a></button> --}}
    {{>footer}}
</body>

</html>