<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <link rel="stylesheet" href="css/weather.css">
    <title>Check Weather</title>
</head>

<body>
    {{>navbar}}
    <div class="contianer-fluid main-header">
        <div class="row">
            <div class="main-content">
                <div class="temp-form">
                    <input type="text" id="weather-city" placeholder="Enter your city name" autocomplete="off">
                    <button type="submit" id="submit-button">Search</button>
                </div>
            </div>
            <div class="temp-information">
                <div class="top-layer">
                    <p id="day">Monday</p>
                    <p id="date">4th Jan</p>
                </div>
                <div class="main-layer">
                    <p id="city-name">Get Result Here</p>
                    <div class="middle-layer data-hide">
                        <h3 id="temp"><span>0</span><sub>o</sub>C</h3>
                        <p id="temp-status"><i class="fa fa-3x fa-cloud" aria-hidden="true"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>