.main-header .row {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5% 20%;
    color: #ffffff;
}
.temp-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1a1d29;
    border: none;
    border-radius: 3em;
}
.temp-form input {
    background-color: #1a1d29;
    border: none;
    border-radius: 3em;   
     width: 80%;
    text-align: left;
    font-size: 15px;
    height: 2em;
    padding: 20px 0 20px 15px;
    margin: 0;
    color: #ffffff;

}

::placeholder {
    color: white;
}

.temp-form button {
    width: 7rem;
    margin: 5px 10px 5px 0;
    border-radius: 1em;
    color: #007bff;
    border: #007bff 1px solid;
    font-weight: 900;
}

.temp-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 25rem;
    margin: 5% 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: #1a1d29 3px solid;
}

.top-layer {
    padding: 10px 10px 0 10px;
    text-align: center;
    background-color: #2a2c3a;
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 2rem;
}

.main-layer {
    background-color: #313341;
    padding: 2em;
}

#city-name{
font-size: 17px;
}

.middle-layer{
    display: flex;
    justify-content: space-between;
}

#temp{
    font-size: 2em;
}
