.main-header .row {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5% 20%;
}

.temp-form input {
    background-color: var(--main-bg);
    border: none;
    width: 80%;
    text-align: left;
    color: white;
    font-size: 15px;
    border-radius: 3em;
    height: 2em;
    padding: 20px 0 20px 15px;
    margin: 0;
}

::placeholder {
    color: white;
}

.temp-form button {
    margin: 0 0 0 -10%;
    height: 100%;
    width: 7rem;
    padding: 7px 0 5px 0;
    background-color:#ffff;
    border-radius: 1em;
    color: #007bff;
    border: #007bff 1px solid;
    font-weight: 900 ;
}